{% include 'auctions/layout.html' %}

<br><br>
<div class="latest-news">
    <div class="container">
      <div class="row">
        <div class="col-12 title-section">
          <h2 class="heading">View Categories</h2>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="post-entry">
            <a href="">
              <img src="static/auctions/images/img_1.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="caption">
              <div class="caption-inner">
                <h3 class="mb-3"></h3>
                <div class="author d-flex align-items-center">
                  <div class="img mb-2 mr-3">
                    <img src="" alt="">
                  </div>
                  <div class="text">
                    <h4>DMF</h4>
                    <span>May 19, 2020 &bullet; Sports</span>
                    <br><a href="/filter/DMF/" class="btn btn-primary">View Players</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="post-entry">
            <a href="#">
              <img src="static/auctions/images/img_3.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="caption">
              <div class="caption-inner">
                <h3 class="mb-3"></h3>
                <div class="author d-flex align-items-center">
                  <div class="img mb-2 mr-3">
                    <img src="" alt="">
                  </div>
                  <div class="text">
                    <h4>CB</h4>
                    <span>May 19, 2020 &bullet; Sports</span>
                    <br><a href="/filter/CB/" class="btn btn-primary">View Players</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="post-entry">
            <a href="#">
              <img src="static/auctions/images/img_2.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="caption">
              <div class="caption-inner">
                <h3 class="mb-3"></h3>
                <div class="author d-flex align-items-center">
                  <div class="img mb-2 mr-3">
                    <img src="" alt="">
                  </div>
                  <div class="text">
                    <h4>LB</h4>
                    <span>May 19, 2020 &bullet; Sports</span>
                    <br><a href="/filter/LB/" class="btn btn-primary">View Players</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="latest-news">
    <div class="container">
      <div class="row">
      </div>
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="post-entry">
            <a href="#">
              <img src="static/auctions/images/img_1.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="caption">
              <div class="caption-inner">
                <h3 class="mb-3"></h3>
                <div class="author d-flex align-items-center">
                  <div class="img mb-2 mr-3">
                    <img src="" alt="">
                  </div>
                  <div class="text">
                    <h4>RB</h4>
                    <span>May 19, 2020 &bullet; </span>
                    <br><a href="/filter/RB/" class="btn btn-primary">View Players</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="post-entry">
            <a href="#">
              <img src="static/auctions/images/img_3.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="caption">
              <div class="caption-inner">
                <h3 class="mb-3"></h3>
                <div class="author d-flex align-items-center">
                  <div class="img mb-2 mr-3">
                    <img src="" alt="">
                  </div>
                  <div class="text">
                    <h4>LWF</h4>
                    <span>May 19, 2020 &bullet; </span>
                    <br><a href="/filter/LMF/" class="btn btn-primary">View Players</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="post-entry">
            <a href="#">
              <img src="static/auctions/images/img_2.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="caption">
              <div class="caption-inner">
                <h3 class="mb-3"></h3>
                <div class="author d-flex align-items-center">
                  <div class="img mb-2 mr-3">
                    <img src="" alt="">
                  </div>
                  <div class="text">
                    <h4>RMF</h4>
                    <span>May 19, 2020 &bullet; Sports</span>
                    <br><a href="/filter/RMF/" class="btn btn-primary">View Players</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="latest-news">
        <div class="container">
          <div class="row">
          </div>
          <div class="row no-gutters">
            <div class="col-md-4">
              <div class="post-entry">
                <a href="#">
                  <img src="static/auctions/images/img_1.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="caption">
                  <div class="caption-inner">
                    <h3 class="mb-3"></h3>
                    <div class="author d-flex align-items-center">
                      <div class="img mb-2 mr-3">
                        <img src="" alt="">
                      </div>
                      <div class="text">
                        <h4>CMF</h4>
                        <span>May 19, 2020 &bullet; Sports</span>
                        <br><a href="/filter/CMF/" class="btn btn-primary">View Players</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="post-entry">
                <a href="#">
                  <img src="static/auctions/images/img_3.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="caption">
                  <div class="caption-inner">
                    <h3 class="mb-3"></h3>
                    <div class="author d-flex align-items-center">
                      <div class="img mb-2 mr-3">
                        <img src="" alt="">
                      </div>
                      <div class="text">
                        <h4>CF</h4>
                        <span>May 19, 2020 &bullet; </span>
                        <br><a href="/filter/CF/" class="btn btn-primary">View Players</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="post-entry">
                <a href="#">
                  <img src="static/auctions/images/img_2.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="caption">
                  <div class="caption-inner">
                    <h3 class="mb-3"></h3>
                    <div class="author d-flex align-items-center">
                      <div class="img mb-2 mr-3">
                        <img src="" alt="">
                      </div>
                      <div class="text">
                        <h4>LMF</h4>
                        <span>May 19, 2020 &bullet; </span>
                        <br><a href="/filter/LMF/" class="btn btn-primary">View Players</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

  <div class="latest-news">
    <div class="container">
      <div class="row">
      </div>
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="post-entry">
            <a href="#">
              <img src="static/auctions/images/img_1.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="caption">
              <div class="caption-inner">
                <h3 class="mb-3"></h3>
                <div class="author d-flex align-items-center">
                  <div class="img mb-2 mr-3">
                    <img src="" alt="">
                  </div>
                  <div class="text">
                    <h4>RMF</h4>
                    <span>May 19, 2020 &bullet; </span>
                    <br><a href="/filter/RMF/" class="btn btn-primary">View Players</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="post-entry">
            <a href="#">
              <img src="static/auctions/images/img_3.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="caption">
              <div class="caption-inner">
                <h3 class="mb-3"></h3>
                <div class="author d-flex align-items-center">
                  <div class="img mb-2 mr-3">
                    <img src="" alt="">
                  </div>
                  <div class="text">
                    <h4>SS</h4>
                    <span>May 19, 2020 &bullet; </span>
                    <br><a href="/filter/SS/" class="btn btn-primary">View Players</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>